
@media screen and (min-width: 30em) { /*480px*/
  /*
  body { font-size: 105%; }

  .alt-image {
    padding: 2.3em;
    padding-bottom: 0;
  }
  */
}

@media screen and (min-width: 37.500em) { /*600px*/
  body { font-size: 110%; }

  #alt-images {
    padding: 2em;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }

  .alt-image {
    padding: 0 0 2em 0;
  }

}

@media screen and (min-width: 50em) { /*800px*/

  #alt-images {
    padding: 1em;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
      -webkit-column-gap: 1.5em;
         -moz-column-gap: 1.5em;
              column-gap: 1.5em;
  }
}

@media screen and (min-width: 65em) { /*1040px*/

  #alt-images {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
      -webkit-column-gap: 1.2em;
         -moz-column-gap: 1.2em;
              column-gap: 1.2em;
  }
}

@media screen and (min-width: 75em) { /*1200px*/

  main {
    display: block;
    width: 1200px;
    margin: 0 auto;
  }
}
